{% extends 'base.html.twig' %}

{% block body %}
     <div class="container">
         <a href="{{ path('create_quiz') }}" class="btn btn-success my-5">Stwórz quiz <i class="ml-2 fa fa-plus"></i></a>
         <div class="d-flex flex-wrap">
         {% for quiz in quizzes %}
             <div class="card m-3" style="width: 18rem;">
                 <div class="card-body">
                     <h5 class="card-title">{{ quiz.name }}</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="{{ path('questions', {quiz: quiz.id}) }}" class="btn btn-primary">Zobacz pytania</a>
                     <a href="{{ path('game_start_quiz', {quiz: quiz.id}) }}" class="btn btn-success mt-2">Rozpocznij quiz</a>
                     {% if not quiz.getUnfinishedGames().isEmpty() %}
                        <label class="mt-4" for="continue-{{ quiz.id }}">Kontynuuj rozpoczęty quiz:</label>
                        <select id="continue-{{ quiz.id }}" onchange="location = this.value;">
                            <option value="">wybierz</option>
                            {% for game in quiz.getUnfinishedGames() %}
                                <option value="{{ path('game_continue', {game: game.id}) }}">Rozpoczęty: {{ game.startedAt|date('d.m.Y H:i') }}</option>
                            {% endfor %}
                        </select>
                     {% endif %}
                     {% if not quiz.getFinishedGames().isEmpty() %}
                        <label class="mt-4" for="continue-{{ quiz.id }}">Podsumowanie rozpoczętych quizów:</label>
                        <select id="continue-{{ quiz.id }}" onchange="location = this.value;">
                            <option value="">wybierz</option>
                            {% for game in quiz.getFinishedGames() %}
                                <option value="{{ path('game_summary', {game: game.id}) }}">Zakończony: {{ game.endedAt|date('d.m.Y H:i') }}</option>
                            {% endfor %}
                        </select>
                     {% endif %}
                 </div>
             </div>
         {% endfor %}
         </div>
     </div>
{% endblock %}